<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="%HOME%\site\wwwroot" />
    <add key="WSGI_HANDLER" value="karya.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="karya.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\Python39\python.exe" 
                 arguments="%HOME%\Python39\Scripts\gunicorn.exe --bind=0.0.0.0:%HTTP_PLATFORM_PORT% karya.wsgi" 
                 requestTimeout="00:04:00" />
  </system.webServer>
</configuration>
