{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <title>Sign Up</title>
</head>
<body>
<div class = "background">
    <div class = "container">
        <form method="POST" class="sign-up">
            {% csrf_token %}
            <input type="text" name = "username" class="inp" placeholder="Username" required> <br>
            <input type="text" name = "email" class="inp" placeholder="Email" required> <br>
            <input type="text" name = "password" class="inp" placeholder="Password" required> <br>
            <input type="submit" class="sub-btn" value="SignUp">
        </form>
        <div>
            <p>Already have an account!</p>
            <a href="/login/">Sign In</a>
        </div>
    </div>
</div>
</body>
</html>